services:
  api:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.api
    container_name: sqsv4-api
    ports:
      - "8089:8089"
    networks:
      - nginx-proxy
    restart: unless-stopped

networks:
  nginx-proxy:
    external: true
